# Ignore Node modules and environment files
node_modules/
ecommerce/node_modules/
.env
ecommerce/.env
ecommerce/uploads/*
!ecommerce/uploads/.gitkeep

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
